/* Navbar (Main Navigation)
############################################################################ */

header {
    background-color: var(--accent-darker);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-header {
    width: 500px;
}

nav {
    display: flex;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: var(--darkest);
}

/* Media Query für kleinere Geräte */
@media only screen and (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

    #logo {
        margin-bottom: 10px;
    }

    nav {
        margin-top: 15px;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}


/* Tabelle (Inventar)
############################################################################ */

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}
caption {
    max-width: var(--max-width-content);
    color: var(--accent-darker);
    font-family: var(--font-family-non-serif);
    font-size: var(--font-size-heading1);
    font-weight: var(--font-weight-normal);
    line-height: var(--lh-heading);
    text-wrap: balance;
    text-align: left;
    caption-side: top;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: var(--accent);
}


td img {
    /* width: var(--xxl); */
    height: var(--xxl);  

}

/* Media Query für kleinere Geräte */
@media only screen and (max-width: 600px) {
    table {
        width: 100%; /* Vollständige Breite für kleinere Bildschirme */
    }

    td img {
        height: 30px; /* Festlegen der Bildhöhe auf 30px für kleinere Bildschirme */
    }
}






/* Liste (Inventar)
############################################################################ */
.container {
    max-width: 600px;
    margin: var(--xxl);
    text-align: left;
}

.container h1 {
    text-align: left;
}

.scroll-container {
    max-height: 600px; /* gewünschte maximale Höhe für die Scrollbar */
    overflow: auto;
}

.meine-liste {
    list-style-type: none;
    padding: 0;
    margin: 0; 
}

.meine-liste li {
    background-color: var(--secondary-darker);
    color: var(--darkest);
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    max-width: 600px;
}


/* Button
############################################################################ */

.button-container {
    text-align: left;
    margin-top: var(--xs);
}

.button-container button {
    padding: var(--xs) var(--s); 
    font-size: var(--s);
    cursor: pointer;
    background-color: var(--accent);
    color: var(--lightest);
    border: none;
    border-radius: var(--xs);
}

.button-container button:hover {
    background-color: var(--accent-darker);
}



/* Footer
############################################################################ 

footer {
    background-color: var(--darkest); 
    color: var(--secondary); 
    padding: var(--xxs); 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content-left {
    display: flex;
    align-items: center;
}

#footer-logo {
    width: 100px; 
}

.footer-content-right {
    display: flex;
}

.footer-content-right a {
    color: var(--secondary);
    text-decoration: none;
    margin-right: 15px;
}

/* Media Query für kleinere Geräte 
@media only screen and (max-width: 600px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-content-left, .footer-content-right {
        margin-bottom: 15px;
    }

    #logo {
        margin-right: 0;
    }

    .footer-content-right a {
        margin-right: 0;
    }
}
*/