body {
    margin: 0;
    overflow: hidden;
}

.splash-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, var(--accent-darker), var(--secondary));
}

img {
    width: 60%; 
}
