html,
body {
    font-family: var(--font-family-sans);
    font-size: var(--font-size-base);
    margin: var(--xs);

}

nav a {
    color: var(--primary);
}


h1 {
    max-width: var(--max-width-content);
    color: var(--accent-darker);
    font-family: var(--font-family-non-serif);
    font-size: var(--font-size-heading1);
    font-weight: var(--font-weight-normal);
    line-height: var(--lh-heading);
    text-wrap: balance;
}

h2 {
    margin-bottom: var(--l);
    font-size: var(--font-size-heading2);
    font-weight: var(--font-weight-bold);
    line-height: var(--lh-normal);
}

h3{
    line-height: var(--lh-heading);
}

h2 + h3{
    margin-top: calc(var(--m) * -1);
}

hr {
    border: none;
    border-top: 2px solid var(--accent);
    margin: var(--spacing-margin-large) 0;
}

p {
    margin: var(--spacing-margin-medium) 0 0;
    color: var(--primary-lighter);
    font-size: var(--font-size-paragraph);
    font-weight: var(--font-weight-normal);
    line-height: 1.5;
    max-width: var(--max-width-content);
}

figure {
    margin: var(--figure-margin-top) 0 0;
}

img {
    width: 50%;
}

figcaption {
    margin: var(--spacing-margin-medium) 0 0;
}

